<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>A_Resume_Analyzer</title>
</head>
<body>
    <header>
        <div class="container">
           <nav>
            {% if session.get('user') %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('history') }}">History</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
           </nav>
        </div>
    </header>

    <main class="container">
            {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 A_Resume_Analyzer. All rights reserved.</p>
    </footer>
</body>
</html>