{% extends "base.html" %}
{% block content %}
     <h2>Welcome, {{ user.name }}!</h2>
    
    <div class="card">
        <h3>Resume Analysis</h3>
        <!-- Analysis results will go here -->

        <form method="POST" enctype="multipart/form-data">
            <!-- Form fields will go here -->
             <textarea name="resume_text" placeholder="Paste your resume text here..."></textarea>
             <p>OR upload a file:</p>
            <input type="file" name="resume_file" accept=".pdf,.doc,.docx">
            <input type="text" name="file">
            <input type="text" name="desired_role" placeholder="What do you Want to become? (e.g Full-Stack Dev, Backend Dev, Data Engineer)">
            
            <button type="submit">Analyze Resume</button>
        </form>
    </div>

    {% if result %}
        <div class="red">
            {%if result.error %}
             <p style="color: red;">{{ result.error }}</p>
            {% endif %}

            <h3>Skills</h3>
            <ul>
            {% for skill in result.get("skills", []) %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>

            <h3>Skills Not Found</h3>
            <ul>
            {% for skill in result.get("skills_not_found", []) %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>

            <h3>Roadmap</h3>
            <ul>
            {% for item in result.get("roadmap", []) %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>

            <h3>Interview Questions</h3>
            <ul>
            {% for question in result.get("interview_questions", []) %}
                <li>{{ question }}</li>
            {% endfor %}
            </ul>
        </div>
        


{% endblock %}